body {
	background-image: url(image.jpg);
	font-family: Courier New;
	font-weight: 1000;
}

div {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(173,181,189, 0.6 );
	border: 8px solid black;
	margin-bottom: 50;
	box-shadow: 15px 15px 20px black;
}

h1 {
	
    text-align: center;
	background-color: rgba(173,181,189, 0.6 )
}

h3 {
	text-align: center;
}

p {
	text-align: center;
}

img {
	float: bottom;
	margin-left: 190px;
	border: 8px solid black;
}

